/* static/css/styles.css */

/* Reset some default styles */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    font-weight: bold;
    display: block;
    margin: 1rem 0;
    text-align: left; /* Align labels to the left */
}

/* Add some spacing for the new form elements */
/* form input[type="radio"], */
form input[type="number"],
form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-align: left; /* Align text within input fields to the left */
    resize: vertical;
    margin-bottom: 1rem; /* Adjust spacing between elements */
}

/* Style the radio buttons to be inline within .option */
.options {
    display: flex; /* Use flexbox to align items horizontally */
}

.option {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center align items vertically */
    margin-right: 20px; /* Add spacing between .option items */
}

form textarea {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-align: left;
    resize: vertical;
    margin-bottom: 1rem; /* Adjust spacing between elements */
}

#submit {
    margin: 2rem 0; /* Adjust margin for submit button */
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for elevation */

    margin-bottom: 1rem; /* Adjust spacing between button and other elements */
}

form button:hover {
    background-color: #0056b3;
    color: #fff;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
