<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download PDF</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dpdf.css') }}">
</head>
<body>
    <h1>Download PDF</h1>
    <p>Click the button below to download the PDF file:</p>
    <a href="/download_pdf" download="output.pdf">
        <button>Download PDF</button>
    </a>
    <embed src="/static/slides/presentation.pdf" type="application/pdf" width="100%" height="500px">
</body>
</html>
