<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Generation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Generate PDF Slides</h1>
        <form method="post">
            {{ form.hidden_tag() }}

            
            <!-- Keywords and Paper Titles (your existing fields) -->
            <label>{{ form.keywords.label }}</label>
            <div>{{ form.keywords }}</div>
            <label>{{ form.paper_titles.label }}</label>
            <div>{{ form.paper_titles }}</div>
            

    
            <!-- Language Selection -->
            <!-- <div>{{form.language}}</div> -->
            <label>{{ form.language.label }}</label>
            <div class="options">
                <div class="option">
                    <label for="english">English</label><input type="radio" id="english" name="language" value="english">
                </div>
                <div class="option">
                    <label for="japanese">Japanese</label><input type="radio" id="japanese" name="language" value="japanese">
                </div>
            </div>
            
            
            <!-- Total Number of Pages -->
            <label>{{ form.total_pages.label }}</label>
            <div>{{form.total_pages}}</div>
            
            <!-- Title Input -->
            <label>{{ form.title.label }}</label>
            <div>{{form.title}}</div>

            <div>{{ form.submit }}</div>
        </form>
    </div>
    <div id="spinner" class="spinner" style="display: none;"></div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const spinner = document.getElementById('spinner');

        form.addEventListener('submit', function() {
            spinner.style.display = 'block'; // Show the spinner
        });
    });
</script>

